<% if user == current_user %>
 <div class="row">
  <%= link_to edit_user_path, class: "btn btn-outline-secondary btn-block col-12" do %>
      <i class="fa-solid fa-user-gear"></i>
  <% end %>
 </div>
<% else %>
 <div>
  <%= link_to user_path(current_user.id), class: "btn btn-outline-secondary btn-block col-12" do %>
       <i class="fa-solid fa-user-gear"></i>
  <% end %>
 </div>
<% end %>